// colors
$black: #000;
$white: #FFF;
$pale_white: #EEE;
$half_white: #DDD;
$gray: #202020;
$grey: #494949;

// components
$link: #0033cc;
$code: #4e4e4e;
$code_bg: #f7f5f5;

// components dark
$link_dark: #809fff;
$code_dark: #c4d8d8;
$code_bg_dark: #4e4e4e;
$menu_dark: #161616;

